.profile__info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(
      min-content,
      max-content
    );
  gap: 16px 18px;
  box-sizing: border-box;
}
@media screen and (max-width: 700px) {
  .profile__info {
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 14px 10px;
    margin-top: 26px;
  }
}
