.cards__list {
  margin: 0;
  padding: 0;
  gap: 20px 17px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  list-style: none;
}
@media screen and (max-width: 950px) {
  .cards__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
}
