.header__link {
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    margin-top: 6px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover {
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .header__link {
        font-size: 14px;
        line-height: normal;
        padding-right: 27px;
    }
  }
  