.popup__container {
  max-width: 430px;
  width:100%;
  min-height: 330px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    margin-top: 25px;
  }
}
